*~
textures
*#
.#*
bld
bin
dbg
*.user*
build*
*.sw?
tags
.ycm_extra_conf.pyc
*.autosave
*DS_Store*
*.gz
*.rpm
*.zip
*.bak
*.patch
.vscode
deps
tbb
ispc
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.lbl
*.log
*.swp
*.out
Session.vim
.idea
!*png/*.pdf
.vs/
*.bha
*.kda
*.umesh
.mc
pictures
*.xf
*.imgui.ini
gprt/imgui.ini
.claud*