[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "3rdParty/generator"]
	path = 3rdParty/generator
	url = git@github.com:natevm/generator.git
[submodule "3rdParty/GPRT-SampleAssets"]
	path = 3rdParty/GPRT-SampleAssets
	url = git@github.com:gprt-org/GPRT-SampleAssets.git
