[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw.git
	shallow = true
[submodule "3rdParty/generator"]
	path = 3rdParty/generator
	url = https://github.com/natevm/generator.git
	shallow = true
[submodule "3rdParty/GPRT-SampleAssets"]
	path = 3rdParty/GPRT-SampleAssets
	url = https://github.com/gprt-org/GPRT-SampleAssets.git
	shallow = true
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
